<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body style="background-color: lightgray;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand bg-info text-white p-2 rounded fw-bold" href="home">The Titanic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        </ul>
      </div>
    </div>
  </nav>

  <div style="width: 95%;" class="container-fluid mt-4 m-auto">
    <div class="row">

      <div class="col-md-6 bg-white p-4">
        <h2 class="text-info fw-bold">Would You have survived the Titanic</h2>
        <hr>
        <img src="../static/img/titanic.png" alt="" class="w-100 float-start">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente nihil itaque enim exercitationem, deserunt
          iste omnis molestias doloremque suscipit officia? Architecto quos harum a saepe.</p>
        <p>Odit sed nam dolorem nisi in odio necessitatibus id consequatur doloribus vel soluta accusamus quae ad
          temporibus, voluptatum tempore hic iure porro! Quae, veritatis iusto!. Odit sed nam dolorem nisi in odio
          necessitatibus id consequatur doloribus vel soluta accusamus quae ad temporibus, voluptatum tempore hic iure
          porro! Quae, veritatis iusto!</p>
          <div>
            <form action="/predict" method="POST">
             <br>
              <label for="Model_Pick">Please_Pick_model</label>
              <select id="Pick_model" name="Pick_model">
                  <option value="0">Logistic Regression</option>
                  <option value="1">SVM</option>
                </select>
                <br>            

              <br><label for="age"><big>What is your age?</big></label>
              <br>
              <input type="text"  id="age" name="age">
              <br>
            <br>
            <label for="pclass"><big>What is your passenger class?</big></label>
              <br>
              <font color="black">
              <select id="pclass" name="pclass">
                  <option value="0"> </option>
                  <option value="1">First Class</option>
                  <option value="2">Second Class</option>
                  <option value="3">Third Class</option>
              </select>  
              </font> 
          
              <br>
            <br>
              <label for="gender"><big>What is your gender?</big></label>
              <br>
              <font color="black">
            <select id="gender" name="gender">
                  <option value="0"> </option>  
                  <option value="1">Female</option>
                  <option value="2">Male</option>
              </select>
              </font>
            <br>
              <br>
            <label for="parch"><big>How many parents and children are travelling with you?</big></label>
              <br>
              <input type="text" id="parch" name="parch">
              <br>
              <br>
            <label for="sibsp"><big>How many siblings and spouse are travelling with you?</big></label>
              <br>
              <input type="text" id="sibsp" name="sibsp">
              <br>
              <br>
            <label for="fare"><big>What was the cost of your fare?</big></label>
              <br>
              <input type="text" id="fare" name="fare">
              <br>
              <br>
              <input type="submit" value="Submit">
            </form>
            </form>
          </div>

      </div>
<div class="col-md-1 m-0 p-0"></div>
      <div class="col-md-5 bg-white p-4">
        <h1 class="text-info">Visualizations</h1>
        <h6 class="text-info">Select a graph for detailed analysis.</h6>
        <hr>
        <div class="row">
          <a href="/vis1" class="col-md-6 border "><img
              src="../static/img/Passanger Survival by Age.png" alt="Age" class="w-100"></a><a
            href="/vis2" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Parent-Child Count.png" alt="Parent-Child Count" class="w-100"></a><a
            href="/vis3" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Sibling - Spouse Count Count.png" alt="Sibling-Spouse Count" class="w-100"></a><a
            href="/vis4" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Sex.png" alt="Sex" class="w-100"></a><a
            href="/vis5" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Ticket Class.png" alt="Ticket Class" class="w-100"></a><a
            href="/vis6" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Fare.png" alt="Fare" class="w-100"></a><a
            href="/vis7" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Port of Embarkment.png" alt="Port of Embarkment" class="w-100"></a></div>
   
            </div>
      <div class="container mb-2"><br><br><br><br>
        <h1>The Team</h1><hr><br> 
        <div class="row">
            <div class="col-md-1"></div>
            <div class="box col-md-2" onclick="window.open(href=&quot;https://github.com/arnazalavi&quot;)">
                <img src="../static/img/f.png" alt="Arnaz" width="140" height="140" class="rounded-circle">
                <h4>Arnaz Alavi</h4>
                <p>role description</p>
            </div>
            <div class="box col-md-2" onclick="window.open(href=&quot;https://github.com/ratikachauhan&quot;)">
                <img src="../static/img/f.png" alt="Rahtika" width="140" height="140" class="rounded-circle">
                <h4>Ratika Chauhan</h4>
                <p>role description</p>
            </div>
            <div class="box col-md-2" onclick="window.open(href=&quot;https://github.com/JYIsaacquot;)">
                <img src="../static/img/f.png" alt="Jo" width="140" height="140" class="rounded-circle">
                <h4>Jo Isaac</h4>
                <p>role description</p>
            </div>
            <div class="box col-md-2" onclick="window.open(href=&quot;https://github.com/jenpusz&quot;)">
                <img src="../static/img/f.png" alt="Jenifer" width="140" height="140" class="rounded-circle">
                <h4>Jenifer Puszczewicz</h4>
                <p>role descriptionr</p>
            </div>

            <div class="box col-md-2" onclick="window.open(href=&quot;https://github.com/rutili&quot;)">
                <img src="../static/img/f.png" alt="Joe" width="140" height="140" class="rounded-circle">
                <h4>Joe Rutili</h4>
                <p>Role Descriptionn</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
    </div>
    </div>











  </div>
  </div>
  </div>

  </div>

  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>

</html>