<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body style="background-color: lightgray;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand bg-info text-white p-2 rounded fw-bold" href="home">The Titanic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        </ul>
      </div>
    </div>
  </nav>

  <div style="width: 95%;" class="container-fluid mt-4 m-auto">
    <div class="row">

      <div class="col-md-6 bg-white p-4">
        <h2 class="text-info fw-bold">Would You have survived the Titanic</h2>
        <hr>
        <img src="../static/img/titanic.png" alt="" class="w-100 float-start">
        <p>The RMS Titanic sank in the early morning hours of April 15, 1912, after colliding with an iceberg in the North Atlantic 
          late the previous evening.  The Titanic was four days into her maiden voyage having left Southhampton, UK on April 10, and
          picking up passengers in Cherbourg Harbour, France and Queenstown, Ireland. After departing Queenstown, the Titanic was 
          at about 50% capacity as it carried 2,435 souls, including 892 crew members and 1,320 passengers.</p>
        <p>It took less than three hours after the collision for the ship to sink, and it was a result of both engineering and human errors. 
          From an engineer’s perspective there were material failures as well as design flaws. Upon collision, the hull steel and wrought iron 
          rivets failed due to brittle fracture. The more brittle a material, the more likely it will break rather than flex. Conditions that
          contribute to brittle fracture in structured materials include high force of impact, low temperature, high sulfur and oxygen content, 
          and high impact loading. All of these factors were present and contributed to the failure. Recovered pieces of the hull showed no 
          evidence of deformation, and evidence of shatter. Design flaws also contributed, as the compartment hulls were only separated to water
          level, therefore only watertight when the ship was horizontal. As water poured into the six damaged compartments, the weight of the
          water caused the ship to pitch forward, allowing water to spill over to adjacent compartments. Additionally, the additional weight  
          in the fore (the front, facing the bow) was countered by the heavy propellers off the stern (back). These weights on opposite ends caused
          the ship to have downward force on both ends causing the ship to crack into two separate pieces at an expansion joint near midship.</p>
        <p>Human errors prior to collision made the impact unavoidable. The seas were calm, and the sky was overcast, causing low visibility. 
          Waves could not be seen crashing against the ice, and crew did not have the aid of starlight. Reflections and mirages due to these 
          conditions impacted the ability to recognize obstacles. The northerly route and the high velocity were both dangerous choices under 
          the conditions. Too much emphasis was put on showing how quickly the ship could traverse the Atlantic, rather than safety. By 
          attempting to avoid the collision by turning away from the iceberg, the impact took place along the starboard side and compromised 
          six compartments. A head-on collision would have resulted in a slower intake of water. It could have allowed the pumps to remove water
          at a rate that prevented sinking, or at least allowed more time for ships to arrive to rescue passengers and crew before the ship 
          was lost. It has often been said the insufficient space on lifeboats was a design flaw from arrogance that the RMS Titanic was 
          unsinkable. However, this was a common practice, as lifeboats were intended to ferry passengers to rescue ships and return to ferry 
          more until all passengers and crew had left the damaged ships. In the case of the RMS Titanic, her running mate, the Oceanic, was 
          delayed and was not in proximity at the time, therefore unable to render aid.</p>
          
        <div>
            <form action="/predict" method="POST">
             <br>
              <label for="Model_Pick">Which model would you like to try?</label>
              <br>
              <select id="Pick_model" name="Pick_model">
                  <option value="0"> </option>
                  <option value="1">Logistic Regression</option>
                  <option value="2">SVM</option>
                </select>
                <br>            
              <br>
              <label for="age">What is your age?</label>
              <br>
              <input type="text"  id="age" name="age">
              <br>
            <br>
            <label for="pclass">What is your passenger class?</label>
              <br>
              <font color="black">
              <select id="pclass" name="pclass">
                  <option value="0"> </option>
                  <option value="1">First Class</option>
                  <option value="2">Second Class</option>
                  <option value="3">Third Class</option>
              </select>  
              </font> 
          
              <br>
            <br>
              <label for="gender">What is your gender?</label>
              <br>
              <font color="black">
            <select id="gender" name="gender">
                  <option value="0"> </option>  
                  <option value="1">Female</option>
                  <option value="2">Male</option>
              </select>
              </font>
            <br>
              <br>
            <label for="parch">How many parents and children are travelling with you?</label>
              <br>
              <input type="text" id="parch" name="parch">
              <br>
              <br>
            <label for="sibsp">How many siblings and spouse are travelling with you?</label>
              <br>
              <input type="text" id="sibsp" name="sibsp">
              <br>
              <br>
            <label for="fare">What was the cost of your fare?</label>
              <br>
              <input type="text" id="fare" name="fare">
              <br>
              <br>
              <input type="submit" value="Submit">
            </form>
            </form>
          </div>

      </div>
<div class="col-md-1 m-0 p-0"></div>
      <div class="col-md-5 bg-white p-4">
        <h1 class="text-info">Visualizations</h1>
        <h6 class="text-info">Select a graph for detailed analysis.</h6>
        <hr>
        <div class="row">
          <a href="/vis1" class="col-md-6 border "><img
              src="../static/img/Passanger Survival by Age.png" alt="Age" class="w-100"></a><a
            href="/vis2" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Parent-Child Count.png" alt="Parent-Child Count" class="w-100"></a><a
            href="/vis3" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Sibling - Spouse Count Count.png" alt="Sibling-Spouse Count" class="w-100"></a><a
            href="/vis4" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Sex.png" alt="Sex" class="w-100"></a><a
            href="/vis5" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Ticket Class.png" alt="Ticket Class" class="w-100"></a><a
            href="/vis6" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Fare.png" alt="Fare" class="w-100"></a><a
            href="/vis7" class="col-md-6 border"><img
              src="../static/img/Passanger Survival by Port of Embarkment.png" alt="Port of Embarkment" class="w-100"></a></div>
   
            </div>
      <div class="container mb-2"><br><br><br><br>
        <h1>The Team</h1><hr><br> 
        <div class="row">
            <div class="col-md-1"></div>
            <div class="box col-md-2" onclick="window.open(href=&quot;https://github.com/arnazalavi&quot;)">
                <img src="../static/img/f.png" alt="Arnaz" width="140" height="140" class="rounded-circle">
                <h4>Arnaz Alavi</h4>
                <p>role description</p>
            </div>
            <div class="box col-md-2" onclick="window.open(href=&quot;https://github.com/ratikachauhan&quot;)">
                <img src="../static/img/f.png" alt="Rahtika" width="140" height="140" class="rounded-circle">
                <h4>Ratika Chauhan</h4>
                <p>role description</p>
            </div>
            <div class="box col-md-2" onclick="window.open(href=&quot;https://github.com/JYIsaacquot;)">
                <img src="../static/img/f.png" alt="Jo" width="140" height="140" class="rounded-circle">
                <h4>Jo Isaac</h4>
                <p>role description</p>
            </div>
            <div class="box col-md-2" onclick="window.open(href=&quot;https://github.com/jenpusz&quot;)">
                <img src="../static/img/f.png" alt="Jenifer" width="140" height="140" class="rounded-circle">
                <h4>Jenifer Puszczewicz</h4>
                <p>role descriptionr</p>
            </div>

            <div class="box col-md-2" onclick="window.open(href=&quot;https://github.com/rutili&quot;)">
                <img src="../static/img/f.png" alt="Joe" width="140" height="140" class="rounded-circle">
                <h4>Joe Rutili</h4>
                <p>Role Descriptionn</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
    </div>
    </div>











  </div>
  </div>
  </div>

  </div>

  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>

</html>